
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }

        th {
          padding: 10px;
          width: 150px;
        }

        tr:first-child {
          background: #add8e6;
          color: white;
        }

        tr {
          background-color: #70f58580;
        }

        tr:hover{
           box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
           cursor: pointer;
        }

        td {
          padding: 10px;
        }
    </style>
</head>
<body>
<h2>List of Customers</h2>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>clientCode</th>
    </tr>
    <tr th:each="cus: ${people}">
        <th th:text="${cus.id}"></th>
        <th th:text="${cus.name}"></th>
        <th th:text="${cus.age}"></th>
        <th th:text="${cus.clientCode}"></th>
    </tr>
</table>
</body>
</html>
